<router-outlet>
</router-outlet>

<h2>
  <button (click)="subscribeToNotifications()">Opt into Notifications</button>
</h2>
<div style="padding-top:300px">
  <oranjx-business-card-search (afterBusinessCardClick)="businessCardClick($event)"></oranjx-business-card-search>
</div>