@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 0;
}